<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ohgiraffers.team3backendadmin.admin.query.mapper.DomainKeywordQueryMapper">

    <select id="selectDomainKeywordList" resultType="com.ohgiraffers.team3backendadmin.admin.query.dto.response.domainkeyword.DomainKeywordQueryResponse">
        SELECT
            domain_keyword_id AS domainKeywordId,
            domain_keyword AS domainKeyword,
            domain_keyword_description AS domainKeywordDescription,
            CASE
                WHEN domain_competency_category = 'OTHERS' THEN 'OTHER'
                ELSE domain_competency_category
            END AS domainCompetencyCategory,
            domain_base_score AS domainBaseScore,
            domain_weight AS domainWeight,
            domain_is_active AS domainIsActive
        FROM domain_keyword
        WHERE 1 = 1
        <if test="keyword != null and keyword != ''">
            AND domain_keyword LIKE CONCAT('%', #{keyword}, '%')
        </if>
        <if test="category != null">
            AND domain_competency_category = #{category}
        </if>
        <if test="isActive != null">
            AND domain_is_active = #{isActive}
        </if>
        ORDER BY domain_keyword_id DESC
    </select>

    <select id="selectDomainKeywordDetailById" resultType="com.ohgiraffers.team3backendadmin.admin.query.dto.response.domainkeyword.DomainKeywordDetailResponse">
        SELECT
            domain_keyword_id AS domainKeywordId,
            domain_keyword AS domainKeyword,
            domain_keyword_description AS domainKeywordDescription,
            CASE
                WHEN domain_competency_category = 'OTHERS' THEN 'OTHER'
                ELSE domain_competency_category
            END AS domainCompetencyCategory,
            domain_base_score AS domainBaseScore,
            domain_weight AS domainWeight,
            domain_is_active AS domainIsActive
        FROM domain_keyword
        WHERE domain_keyword_id = #{domainKeywordId}
    </select>
</mapper>
